dev/html/calculate.pug
<!DOCTYPE html>
<html lang="ru">
include templates/head.pug
<body>
include moduls/header.pug
section.calculate
	.container
		.row
			.calculate__title Рассчитать стоимость доставки груза из Китая <br> в Москву и Московскую область
			.calculate__form
				.calculate__left.col-xs-12.col-sm-4
					span Объем груза
					.input-group
						input.form-control(type="text", name="amount", aria-describedby="basic-addon2")
						span.input-group-addon#basic-addon2 м<sup>3</sup>
					span Вес груза
					.input-group
						input.form-control(type="text", name="weight", aria-describedby="basic-addon3")
						span.input-group-addon#basic-addon3 кг
					span Расстояние от МКАД до склада выгрузки
					.input-group
						input.form-control(type="text", name="distance", aria-describedby="basic-addon4")
						span.input-group-addon#basic-addon4 км
				.calculate__center.col-xs-12.col-sm-5
					.calculate__center-wrap
						.calculate__center-result
							span $0
				.calculate__right.col-xs-12.col-sm-3
					.calculate__right-btn Отправить заявку
include moduls/map.pug
include moduls/footer.pug
include templates/foot.pug

prod/calculate.html
<!DOCTYPE html>
<html lang="ru"><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
<title></title>
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<link rel="stylesheet" href="css/vendor.min.css" />
<link rel="stylesheet" href="css/styles.min.css" />
</head><body>
<header>
  <div class="container">
    <div class="row">
      <div class="header">
        <div class="header__mail hidden-xs"><a href="mailto:info@easternlog.com">info@easternlog.com</a></div>
        <div class="header__logo col-xs-12"><img src="img/logo.png"/></div>
        <div class="header__phones hidden-xs"><a href="tel:88007077695">8 800 707 76 95</a><a href="tel:84951044405">8 495 104 44 05</a>
          <div class="header__phones-btn">Обратный звонок</div>
        </div>
      </div>
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          <div class="header__phones hidden col-xs-4 hidden-sm hidden-md hidden-lg"><a href="tel:88007077695">8 800 707 76 95</a></div>
          <div class="header__mail hidden col-xs-4 hidden-sm hidden-md hidden-lg"><a href="mailto:sales@easternlog.com">sales@easternlog.com</a></div>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#" onClick="scrollTod('about');">О нас</a></li>
            <li><a href="#" onClick="scrollTod('services');">Услуги</a></li>
            <li><a href="#">Сборные грузы</a></li>
            <li><a href="#">Отследить груз</a></li>
            <li><a href="#">Партнеры</a></li>
            <li><a href="#" onClick="scrollTod('contacts');">Контакты</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<section class="calculate">
  <div class="container">
    <div class="row">
      <div class="calculate__title">Рассчитать стоимость доставки груза из Китая <br> в Москву и Московскую область</div>
      <div class="calculate__form">
        <div class="calculate__left col-xs-12 col-sm-4"><span>Объем груза</span>
          <div class="input-group">
            <input class="form-control" type="text" name="amount" aria-describedby="basic-addon2"/><span class="input-group-addon" id="basic-addon2">м<sup>3</sup></span>
          </div><span>Вес груза</span>
          <div class="input-group">
            <input class="form-control" type="text" name="weight" aria-describedby="basic-addon3"/><span class="input-group-addon" id="basic-addon3">кг</span>
          </div><span>Расстояние от МКАД до склада выгрузки</span>
          <div class="input-group">
            <input class="form-control" type="text" name="distance" aria-describedby="basic-addon4"/><span class="input-group-addon" id="basic-addon4">км</span>
          </div>
        </div>
        <div class="calculate__center col-xs-12 col-sm-5">
          <div class="calculate__center-wrap">
            <div class="calculate__center-result"><span>$0</span></div>
          </div>
        </div>
        <div class="calculate__right col-xs-12 col-sm-3">
          <div class="calculate__right-btn">Отправить заявку</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="map" id="contacts">
  <div class="wrapper">
    <div class="row">
      <div class="map__info col-xs-12 col-md-6 text-center">
        <div class="map__info-address">
          <address>г. Москва, Дербеневская набережная, дом 11</address>
          <p><a href="tel:84951044405">8 495 104 44 05</a></p>
          <p><a href="tel:88007077695">8 800 707 76 95</a></p>
          <p><a href="mailto:sales@easternlog.com">sales@easternlog.com</a></p>
        </div>
      </div>
      <div class="map__map col-xs-12 col-md-6">
        <div class="map__rgba"></div>
        <div class="map__btn">На карте</div><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4fc6dbfea10d3dc40c22e727e47cd1e6bcbd092f9fe597a7b0a34353258098f0&amp;width=100%25&amp;height=240&amp;lang=ru_RU&amp;scroll=true"></script>
      </div>
    </div>
  </div>
</section>
<section class="notShow" id="map">
  <div class="map__close"></div><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4fc6dbfea10d3dc40c22e727e47cd1e6bcbd092f9fe597a7b0a34353258098f0&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
</section>
<footer class="footer">
  <div class="container">
    <div class="row">
      <p>
        Copyright © 2009 - 2017	Eastern Logistics<br> Solutions. 
        All Rights Reserved <br>
        Eastern Logistics Solutions
      </p>
    </div>
  </div>
</footer><script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/vendor.min.js"></script>
<script type="text/javascript" src="js/app.min.js"></script>
</body>
</html>
