prod/index.html
<!DOCTYPE html>
<html lang="ru"><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
<title></title>
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<link rel="stylesheet" href="css/app.css" />
<link rel="stylesheet" href="css/styles.css" />
</head><body>
<header>
  <div class="container">
    <div class="row">
      <div class="header">
        <div class="header__mail">
          <a href="mailto:sales@easternlog.com">sales@easternlog.com</a>
          <a href="mailto:info@easternlog.com">info@easternlog.com</a>
        </div>
        <div class="header__logo">
          <img src="img/logo.png"/>
        </div>
        <div class="header__phones">
          <a href="tel:84951044405">8 495 104 44 05</a>
          <a href="tel:88007077695">8 800 707 76 95</a>
        </div>
      </div>
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          <div class="header__phones hidden col-xs-6 hidde-sm hidden-md hidden-lg">
            <a href="tel:84951044405">8 495 104 44 05</a>
            <a href="tel:88007077695">8 800 707 76 95</a>
          </div>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" onClick="scrollTod('about');">О нас</a>
            </li>
            <li>
              <a href="#" onClick="scrollTod('services');">Услуги</a>
            </li>
            <li>
              <a href="#">Сборные грузы</a>
            </li>
            <li>
              <a href="#">Отследить груз</a>
            </li>
            <li>
              <a href="#">Отзывы</a>
            </li>
            <li>
              <a href="#" onClick="scrollTod('contacts');">Контакты</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<section class="slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="img/slide-1.jpg"/>
        <div class="slider__button">Бесплатная консультация</div>
      </div>
      <div class="swiper-slide">
        <img src="img/slide-2.jpg"/>
        <div class="slider__button">Бесплатная консультация</div>
      </div>
      <div class="swiper-slide">
        <img src="img/slide-3.jpg"/>
        <div class="slider__button">Бесплатная консультация</div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
<section class="services" id="services">
  <div class="container">
    <div class="row">
      <div class="services__title col-xs-12">Наши услуги</div>
      <ul class="services__list col-xs-12">
        <li class="col-xs-6 col-sm-4 col-md-3 icon1">
          <a href="#">Таможенное<br>оформление грузов</a>
        </li>
        <li class="col-xs-6 col-sm-4 col-md-3 icon2">
          <a href="#">Контейнерные<br>перевозки грузов</a>
        </li>
        <li class="col-xs-6 col-sm-4 col-md-3 icon3">
          <a href="#">Сборные перевозки<br>грузов</a>
        </li>
        <li class="col-xs-6 col-sm-4 col-md-3 icon4">
          <a href="#">Авиационные перевозки<br>грузов</a>
        </li>
        <li class="col-xs-6 col-sm-4 col-md-3 icon5">
          <a href="#">Железнодорожные<br>перевозки грузов</a>
        </li>
        <li class="col-xs-6 col-sm-4 col-md-3 icon6">
          <a href="#">Автомобильные<br>перевозки грузов</a>
        </li>
        <li class="col-xs-6 col-sm-4 col-md-3 icon7">
          <a href="#">Ваш офис<br>в Китае</a>
        </li>
        <li class="col-xs-6 col-sm-4 col-md-3 icon8">
          <a href="#">Дополнительные<br>услуги</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="background" id="about">
  <div class="background__blur"></div>
  <div class="container">
    <div class="row">
      <div class="background__title col-xs-12">Главная</div>
      <div class="background__text col-xs-12">
        <p>Все, кто сталкивался с транспортировкой грузов через границы Российской Федерации, знают о сложностях, возникающих в процессе перевозки. Для того, чтобы вести успешный бизнес, следует четко представлять, что значит таможенное оформление в нашей стране. Законодательством Российской Федерации предусмотрено несколько вариантов таможенного оформления. Оно может осуществляться самим владельцем (получателем груза),либо его может взять на себя фирма, предоставляющая услуги таможенного представителя. Если Вы планируете заниматься таможенным оформлением самостоятельно, то следует помнить о некоторых трудностях, возникающих в процессе оформления документов. Если какие-либо процедуры соблюдены не полностью или имеются неверно заполненные документы,то подобные нарушения могут обернуться не только дополнительными затратами, но и затянувшимся процессом таможенного оформления со всеми вытекающими последствиями для клиента. Чаще всего компании сталкиваются с такими трудностями, после которых желание продолжать работать может попросту пропасть. Успешно избежать подобных проблем помогут вам специалисты нашей компании</p>
        <p>Мы оказываем комплексные услуги по аутсорсингу внешнеэкономической деятельности (ВЭД), таможенному оформлению, доставке грузов из любой точки мира различными видами транспорта, страхованию и сертификации продукции. Мы организуем поиск необходимого для Вас товара на территории Юго-Восточной Азии, а так же окажем помощь в решении всех сопутствующих вопросов.</p>
        <p>Мы – команда профессионалов. Мы знаем и понимаем специфику таможенного оформления в нашей стране, мы готовы стать посредником между вами и государственными служащими. Доверяя оформление нам, Вы можете быть уверены, что мы проведем все необходимые действия качественно, быстро и на высоком профессиональном уровне.</p>
        <p>У нас огромный опыт и хорошо отлаженные схемы работы, которые помогают в таможенном оформлении. Поэтому все процессы, предусмотренные законом, пройдут без особых проблем. Наши клиенты и партнеры уже давно по достоинству оценили качество наших услуг.</p>
      </div>
    </div>
  </div>
</section>
<section class="map" id="contacts">
  <div class="wrapper">
    <div class="row">
      <div class="map__info col-xs-12 col-md-6 text-center">
        <div class="map__info-address">
          <address>г. Москва, Дербеневская набережная, дом 11</address>
          <p>
            <a href="tel:84951044405">8 495 104 44 05</a>
          </p>
          <p>
            <a href="tel:88007077695">8 800 707 76 95</a>
          </p>
          <p>
            <a href="mailto:sales@easternlog.com">sales@easternlog.com</a>
          </p>
        </div>
      </div>
      <div class="map__map col-xs-12 col-md-6">
        <div class="map__rgba"></div>
        <div class="map__btn">На карте</div><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4fc6dbfea10d3dc40c22e727e47cd1e6bcbd092f9fe597a7b0a34353258098f0&amp;width=100%25&amp;height=240&amp;lang=ru_RU&amp;scroll=true"></script>
      </div>
    </div>
  </div>
</section>
<section class="notShow" id="map">
  <div class="map__close"></div><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4fc6dbfea10d3dc40c22e727e47cd1e6bcbd092f9fe597a7b0a34353258098f0&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
</section>
<footer class="footer">
  <div class="container">
    <div class="row">
      <p>
        Copyright © 2009 - 2017	Eastern Logistics<br> Solutions. 
        All Rights Reserved <br>
        Eastern Logistics Solutions
      </p>
    </div>
  </div>
</footer><script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/vendor.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>

dev/html/index.pug
<!DOCTYPE html>
<html lang="ru">
include templates/head.pug
<body>
include moduls/header.pug
section.slider
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				img(src="img/slide-1.jpg")
				.slider__button Бесплатная консультация
			.swiper-slide
				img(src="img/slide-2.jpg")
				.slider__button Бесплатная консультация
			.swiper-slide
				img(src="img/slide-3.jpg")
				.slider__button Бесплатная консультация
			.swiper-button-next
			.swiper-button-prev
section.services#services
	.container
		.row
			.services__title.col-xs-12 Наши услуги
			ul.services__list.col-xs-12
				li.col-xs-6.col-sm-4.col-md-3.icon1: a(href="#") Таможенное<br>оформление грузов
				li.col-xs-6.col-sm-4.col-md-3.icon2: a(href="#") Контейнерные<br>перевозки грузов
				li.col-xs-6.col-sm-4.col-md-3.icon3: a(href="#") Сборные перевозки<br>грузов
				li.col-xs-6.col-sm-4.col-md-3.icon4: a(href="#") Авиационные перевозки<br>грузов
				li.col-xs-6.col-sm-4.col-md-3.icon5: a(href="#") Железнодорожные<br>перевозки грузов
				li.col-xs-6.col-sm-4.col-md-3.icon6: a(href="#") Автомобильные<br>перевозки грузов
				li.col-xs-6.col-sm-4.col-md-3.icon7: a(href="#") Ваш офис<br>в Китае
				li.col-xs-6.col-sm-4.col-md-3.icon8: a(href="#") Дополнительные<br>услуги
section.background#about
	.background__blur
	.container
		.row
			.background__title.col-xs-12 Главная
			.background__text.col-xs-12
				p.
					Все, кто сталкивался с транспортировкой грузов через границы Российской Федерации, знают о сложностях, возникающих в процессе перевозки. Для того, чтобы вести успешный бизнес, следует четко представлять, что значит таможенное оформление в нашей стране. Законодательством Российской Федерации предусмотрено несколько вариантов таможенного оформления. Оно может осуществляться самим владельцем (получателем груза),либо его может взять на себя фирма, предоставляющая услуги таможенного представителя. Если Вы планируете заниматься таможенным оформлением самостоятельно, то следует помнить о некоторых трудностях, возникающих в процессе оформления документов. Если какие-либо процедуры соблюдены не полностью или имеются неверно заполненные документы,то подобные нарушения могут обернуться не только дополнительными затратами, но и затянувшимся процессом таможенного оформления со всеми вытекающими последствиями для клиента. Чаще всего компании сталкиваются с такими трудностями, после которых желание продолжать работать может попросту пропасть. Успешно избежать подобных проблем помогут вам специалисты нашей компании
				p.
					Мы оказываем комплексные услуги по аутсорсингу внешнеэкономической деятельности (ВЭД), таможенному оформлению, доставке грузов из любой точки мира различными видами транспорта, страхованию и сертификации продукции. Мы организуем поиск необходимого для Вас товара на территории Юго-Восточной Азии, а так же окажем помощь в решении всех сопутствующих вопросов.
				p.
					Мы – команда профессионалов. Мы знаем и понимаем специфику таможенного оформления в нашей стране, мы готовы стать посредником между вами и государственными служащими. Доверяя оформление нам, Вы можете быть уверены, что мы проведем все необходимые действия качественно, быстро и на высоком профессиональном уровне.
				p.
					У нас огромный опыт и хорошо отлаженные схемы работы, которые помогают в таможенном оформлении. Поэтому все процессы, предусмотренные законом, пройдут без особых проблем. Наши клиенты и партнеры уже давно по достоинству оценили качество наших услуг.
include moduls/map.pug
include moduls/footer.pug
include templates/foot.pug
